form a {
    margin-left: 5px;
}

#customJumbo {
    padding: 0px 10px; 
    margin-bottom: 15px;
    border-radius: 0;
    height: 231px;
}

.customCard {
    text-align: center;
    margin: 10px 0;
    padding: 20px;
}
.customCard img {
    width: 300px;
    border-radius: 50%;
}

.hideBtn {
    opacity: 0 !important;
}

.postDiv {
    overflow-y: scroll;
    height: 1200px;
    width: 80%;
    margin: 0 auto;
}
.twitterDiv {
    overflow-y: scroll;
    height: 1200px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9bdbfd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}